.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.imgcontainer {
    width: 100%;
    height: 410px;
    background-position: center;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.horizontal-align {
    margin-left: auto;
    margin-right: auto;
}

.fbapp {
    background: #f1f1f1;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
}

.app-panel {
    height: 80vh;
    background: #f1f1f1;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    overflow: hidden;
}

/* Facebook */
.fb-icon-bg {
    background: #354f88;
    height: 50px;
    margin: 0 0 -50px 0;
    width: 50px;
}

.fb-icon-bg:after {
    content: url(https://i.imgur.com/1topjBX.png);
    display: block;
    padding: 15px 10px 5px 15px;
}

.fb-bg {
    background: #3b5998;
    display: block;
    height: 50px;
    margin: 0 0 10px 50px;
    width: 200px;
}

.fb-bg:after {
    color: #fff;
    font-size: 16px;
    content: "share on facebook";
    font-family: 'Oswald', sans-serif;
    height: 50px;
    position: relative;
    text-transform: uppercase;
    top: 25%;
    width: 50px;
}

.fb-bg:hover {
    cursor: pointer;
}

.fb-bg:active {
    background: #354f88;
}

.fbcontainer {
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

.appblock{
    height: auto;
    padding: 30px 0 30px 0;
    background: #3a3a3a;
    color: white;
    margin: 20px 0px 10px 0px;
    border-radius: 5px;

}

.appblock-tile{
    height: auto;
    padding: 0 0 30px 0;
    background: #3a3a3a;
    color: white;
    margin: 15px auto 15px auto;
    border-radius: 5px;
    width: 255px;
}


@-webkit-keyframes loader-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.loader {
    position: absolute;
    margin: -18px 0 0 -18px;
    border: 3.6px solid #ff974d;
    box-sizing: border-box;
    overflow: hidden;
    width: 36px;
    height: 36px;
    left: 50%;
    top: 50%;
    -webkit-animation: loader-spin 2s linear infinite reverse;
    animation: loader-spin 2s linear infinite reverse;
    -webkit-filter: url(#goo);
    filter: url(#goo);
    box-shadow: 0 0 0 1px #ff974d inset;
}
.loader:before {
    content: "";
    position: absolute;
    -webkit-animation: loader-spin 2s cubic-bezier(0.59, 0.25, 0.4, 0.69) infinite;
    animation: loader-spin 2s cubic-bezier(0.59, 0.25, 0.4, 0.69) infinite;
    background: #ff974d;
    -webkit-transform-origin: top center;
    transform-origin: top center;
    border-radius: 50%;
    width: 150%;
    height: 150%;
    top: 50%;
    left: -12.5%;
}

iframe.chitikaAdBlock{
    width: 100%;
    margin: auto;
    position: fixed;
    bottom:0;
    left: 0;
}